*
{
    margin:0px;
    padding:0px;
}

body
{
    background-color:#E8C061;
}

form .field
{
    display:block;
    margin-bottom:8px;
}

input[type=text], textarea
{
    width:280px;
    padding:12px;
    border-radius:8px;
}

textarea
{
    height:180px;
}

#add_story, #story_list
{
    float:left;

}

#add_story
{
    width:30%;
}

#story_list
{
    width:60%;
}

button
{
    padding:8px 12px;
    font-weight:bold;
    border-radius:8px;
}
