@import 'presets.less';

body {
	background: @slate;
	font: normal 16px/16px @arial;
	margin: 0 30px;
}

.field {
	display:block;
}

input[type=text], input[type=email], input[type=password], input[type=url], textarea {
	background: #eee;
	border: 1px solid @slate-dark; border-color: @slate-dark darken(@slate,5%) darken(@slate,5%) @slate-dark;
	box-shadow: inset 2px 2px 0 #ddd;
	color: #555;
	.corner(5px);
	font: 14px/16px @arial;
	outline: none;
	padding: 8px;
	.transition(all 0.1s linear);

	&:focus {
		background: #fff;
		color: #222;
	}
}

textarea {
	resize: vertical;
}

.contain {
	margin: 0 auto;
	width: 960px;
}

.clr {clear: both;}






/* header >> */
#header {
	padding: 16px 0;
}

h1 {
	background: transparent url('../../images/swfty-logo.png') center center no-repeat;
	display: inline-block;
	float: left;
	height: 38px;
	width: 92px;

	span {display: none;}
}

.split {
	border: 3px solid lighten(@slate,6%); border-width: 3px 0;
	.corner(3px);
	height: 0;
	margin: 0;
}
/* << header */







#add_story, #story_list
{
    float:left;

}

#add_story
{
    width:30%;
}

#story_list {
	background: @yellow;
	width:60%;
}

button
{
    padding:8px 12px;
    font-weight:bold;
    border-radius:8px;
}
