@import 'presets.less';

body {
	background: @slate;
	font: normal 16px/16px @arial;
	margin: 0 30px;
}

.field {
	display:block;
	padding: 4px 0;
}

input[type=text], input[type=email], input[type=password], input[type=url], textarea {
	background: lighten(@slate,33%);
	border: 2px solid darken(@slate,8%);
	box-shadow: inset 2px 2px 1px rgba(0,0,0,0.1);
	color: #555;
	.corner(5px);
	font: 14px/18px @arial;
	outline: none;
	padding: 8px;
	.transition(all 0.1s linear);
	min-width: 200px;

	&:focus {
		background: #fff;
		color: #222;
	}
}

textarea {resize: vertical;}

.add-file {
	background: @slate-dark;
	color: #fff;
	.corner(5px);
	display: inline-block;
	padding: 8px;
}

.contain {
	margin: 0 auto;
	width: 960px;
}

.clr {clear: both;}






/* header >> */
#header {
	padding: 16px 0;
}

h1 {
	background: transparent url('../../images/swfty-logo.png') center center no-repeat;
	display: inline-block;
	float: left;
	height: 38px;
	width: 92px;

	span {display: none;}
}

.split {
	border: 3px solid lighten(@slate,7%); border-width: 3px 0;
	.corner(3px);
	height: 0;
	margin: 0;
}
/* << header */







#add_story, #story_list
{
    float:left;

}

#add_story
{
    width:30%;
}

#story_list {
	background: @yellow;
	width:60%;
}

button
{
    padding:8px 12px;
    font-weight:bold;
    border-radius:8px;
}
