@yellow: #fff9cf;
@offwhite: #F4F5ED;
@brick: #B4482C;
@sand: #D6996D;

@arial: Arial, Helvetica, sans-serif;

.corner(@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@motion) {
	-moz-transition: @motion;
	-webkit-transition: @motion;
	-o-transition: @motion;
	transition: @motion;
}