<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet/less" type="text/css" href="/static/css/less/global.less">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
	<script type="text/javascript" src="/static/js/templates.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/less.js"></script>
	<script type="text/javascript" src="https://raw.github.com/DeaconDesperado/infinity/master/infinity.js"></script>
	{% block title  %}
	<title>Social Geo Story Sharing</title>
	{% endblock %}
</head>
<body>

<div id="swft-dash">

	<div id="dashboard" class="nudge">
		<h1><span>swfty</span></h1>

		<div class="txt-soft">
			Lattitude: <strong class="explain" id="lat_display" title="This is your current lattitude">{{ default_lat }} Lattitude</strong> 
			Longitude:  <strong class="explain" id="lon_display" title="This is your current longitude">{{ default_lon }} Longitude</strong>
		</div>

		<form method="post" action='/stories' enctype="multipart/form-data" autocomplete="off">
			<input type="hidden" name="lat" value="{{ default_lat }}"/>
			<input type="hidden" name="lon" value="{{ default_lon }}"/>

			<div class="field">
				<input type="text" name="uploader" placeholder="Your name" />
			</div>

			<div class="field">
				<textarea name="desc" placeholder="Your Swft story"></textarea>
			</div>

			<div class="field">
				<input type="file" name="file1" />
			</div>

			<button type="submit">Submit</button>
			<div class="clr"></div>
		</form>
	</div><!-- /#story-dash -->
</div>

{% block content %}
{% endblock %}

</body>
</html>
